<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-speedometer"></i>
        <span class="menu-title">Dashboard</span>
      </a>
      <ul class = "">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">
            <span class="menu-title">Home</span>
          </a>
        </li>  
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/update" routerLinkActive="active">
            <span class="menu-title">Settings</span>
          </a>
        </li>    
      </ul>          
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/admin/posts/posts" routerLinkActive="active">
        <i class="menu-icon mdi mdi-pin"></i>
        <span class="menu-title">Posts</span>
      </a>
      <ul class = "">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/posts/posts" routerLinkActive="active">
            <span class="menu-title">All Posts</span>
          </a>
        </li>  
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/posts/new" routerLinkActive="active">
            <span class="menu-title">Add New</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/posts/categories" routerLinkActive="active">
            <span class="menu-title">Categories</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/posts/tags" routerLinkActive="active">
            <span class="menu-title">Tags</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/testcomp" routerLinkActive="active">
            <span class="menu-title">testcomp</span>
          </a>
        </li>        
      </ul>
    </li>


    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/admin/media/media" routerLinkActive="active">
        <i class="menu-icon mdi mdi-camera-burst"></i>
        <span class="menu-title">Media</span>
      </a>
      <ul class = "">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/media/media" routerLinkActive="active">
            <span class="menu-title">Library</span>
          </a>
        </li>  
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/media/new" routerLinkActive="active">
            <span class="menu-title">Add New</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/admin/pages/pages" routerLinkActive="active">
        <i class="menu-icon mdi mdi-note-multiple"></i>
        <span class="menu-title">Pages</span>
      </a>
      <ul class = "">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/pages/pages" routerLinkActive="active">
            <span class="menu-title">All Pages</span>
          </a>
        </li>  
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/pages/new" routerLinkActive="active">
            <span class="menu-title">Add New</span>
          </a>
        </li>
      </ul>
    </li>    

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/admin/comments" routerLinkActive="active"> 
        <i class="menu-icon mdi mdi-comment-outline"></i>
        <span class="menu-title">Comments</span>
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/admin/themes/themes" routerLinkActive="active">
        <i class="menu-icon mdi mdi-format-color-fill"></i>
        <span class="menu-title">Appearence</span>
      </a>
      <ul class = "">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/themes/install" routerLinkActive="active">
            <span class="menu-title">Add New</span>
          </a>
        </li>  
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/themes/customize" routerLinkActive="active">
            <span class="menu-title">Customize</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/themes/widgets" routerLinkActive="active">
            <span class="menu-title">Widgets</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/themes/menus" routerLinkActive="active">
            <span class="menu-title">Menus</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/themes/background" routerLinkActive="active">
            <span class="menu-title">Background</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/themes/editor" routerLinkActive="active">
            <span class="menu-title">Theme Editor</span>
          </a>
        </li>   
      </ul>                             
    </li>   

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/admin/plugins/plugins" routerLinkActive="active">
        <i class="menu-icon mdi mdi-power-plug"></i>
        <span class="menu-title">Plugins</span>
      </a>
      <ul>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/plugins/install" routerLinkActive="active">
            <span class="menu-title">Installed Plugins</span>
          </a>
        </li>        
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/plugins/editor" routerLinkActive="active">
            <span class="menu-title">Add New</span>
          </a>
        </li>  
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" >
            <span class="menu-title">Plugin Editor</span>
          </a>
        </li>                       
      </ul>
    </li>       
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/admin/users/users" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account-multiple"></i>
        <span class="menu-title">Users</span>
      </a>
      <ul>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/users/users" routerLinkActive="active">
            <span class="menu-title">All Users</span>
          </a>
        </li>        
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/users/newuser" routerLinkActive="active">
            <span class="menu-title">Add New</span>
          </a>
        </li>  
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">
            <span class="menu-title">Your Profile</span>
          </a>
        </li>                       
      </ul>
    </li> 


    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/admin/tools/tools" routerLinkActive="active">
        <i class="menu-icon mdi mdi-message-settings-variant"></i>
        <span class="menu-title">Tools</span>
      </a>
      <ul>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/tools/tools" routerLinkActive="active">
            <span class="menu-title">Avaliable Tools</span>
          </a>
        </li>  
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/tools/import" routerLinkActive="active">
            <span class="menu-title">Import</span>
          </a>
        </li>    
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/tools/export" routerLinkActive="active">
            <span class="menu-title">Export</span>
          </a>
        </li>    
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/tools/site-health" routerLinkActive="active">
            <span class="menu-title">Site Health</span>
          </a>
        </li>    
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/tools/export-personal-data" routerLinkActive="active">
            <span class="menu-title">Export Personal Data</span>
          </a>
        </li>    
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/tools/erase-personal-data" routerLinkActive="active">
            <span class="menu-title">Erase Personal Data</span>
          </a>
        </li>                    
                          
      </ul>
    </li> 


    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/admin/settings/general" >
        <i class="menu-icon mdi mdi-settings"></i>
        <span class="menu-title">Settings</span>
      </a>
      <ul>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/settings/general" routerLinkActive="active">
            <span class="menu-title">General</span>
          </a>
        </li>  
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/settings/writing" routerLinkActive="active">
            <span class="menu-title">Writing</span>
          </a>
        </li>    
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/settings/reading" routerLinkActive="active">
            <span class="menu-title">Reading</span>
          </a>
        </li>    
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/settings/discussion" routerLinkActive="active">
            <span class="menu-title">Discussion</span>
          </a>
        </li>    
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/settings/media" routerLinkActive="active">
            <span class="menu-title">Media</span>
          </a>
        </li>    
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/settings/permalink" routerLinkActive="active">
            <span class="menu-title">Premalinks</span>
          </a>
        </li>                    
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/settings/privacy" routerLinkActive="active">
            <span class="menu-title">Privacy</span>
          </a>
        </li>                            
      </ul>
    </li>    

    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/forms" routerLinkActive="active"> 
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title">Form elements</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/buttons" routerLinkActive="active">
        <i class="menu-icon mdi mdi-dna"></i>
        <span class="menu-title">Buttons</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/progressbar" routerLinkActive="active">
        <i class="menu-icon mdi mdi-trackpad"></i>
        <span class="menu-title">Progress bar</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/carousel" routerLinkActive="active">
        <i class="menu-icon mdi mdi-texture"></i>
        <span class="menu-title">Carousal</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/tooltips" routerLinkActive="active">
        <i class="menu-icon mdi mdi-content-copy"></i>
        <span class="menu-title">Tooltip</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/tabs" routerLinkActive="active">
        <i class="menu-icon mdi mdi-lightbulb-outline"></i>
        <span class="menu-title">Tabs</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/dropdowns" routerLinkActive="active">
        <i class="menu-icon mdi mdi-backup-restore"></i>
        <span class="menu-title">Dropdown</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/breadcrumbs" routerLinkActive="active">
        <i class="menu-icon mdi mdi-flag-outline"></i>
        <span class="menu-title">Breadcrumb</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/pagination" routerLinkActive="active">
        <i class="menu-icon mdi mdi-loupe"></i>
        <span class="menu-title">Pagination</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/tables" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Tables</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/alerts" routerLinkActive="active">
        <i class="menu-icon mdi mdi-shield-outline"></i>
        <span class="menu-title">Alerts</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/accordions" routerLinkActive="active">
        <i class="menu-icon mdi mdi-altimeter"></i>
        <span class="menu-title">Accordion</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/badges" routerLinkActive="active">
        <i class="menu-icon mdi mdi-checkbox-multiple-blank-circle-outline"></i>
        <span class="menu-title">Badges</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/icons" routerLinkActive="active">
        <i class="menu-icon mdi mdi-chart-bubble"></i>
        <span class="menu-title">Icons</span>
      </a>
    </li>
    <li class="nav-item hidden">
      <a class="nav-link" routerLink="/typography" routerLinkActive="active">
        <i class="menu-icon mdi mdi-format-italic"></i>
        <span class="menu-title">Typography</span>
      </a>
    </li>
  </ul>
</nav>
